

<%= simple_form_for reservation do |f| %>
<div class = "row">
	<%= f.input :school_year %>
</div>
<div class = "row">
<div class = 'col-xs-5'>
	<%= f.input :last_name %>
	<%= f.input :first_name %>
	<%= f.input :middle_initial %>

</div>
<div class = 'col-xs-5'>
	<%= f.input :id_number %>
	<%= f.input :year_level %>
	<%= f.input :course %>
</div>
</div>
<div class = "row">
		<%= f.input :mobile_number %>
	<%= f.input :email %>
	<%= f.input :dorm_scholar, as: :radio_buttons %>
	<%= f.input :building, as: :select, collection: ["UD-N", "UD-S"] %>
	<%= f.input :room_number %>
	<%= f.input :check_in %>
	<%= f.submit "Save" %>
<% end %>
</div>
