<h4><%= reservation.id_number  %></h4>
<div>
<b>Last Name:</b> <%= reservation.last_name %>
</div>
<div>
<b>First Name:</b> <%= reservation.first_name %>
</div>
<div>
<b>MI:</b> <%= reservation.middle_initial %>
</div>
<div>
<b>Building:</b> <%= reservation.building %>
</div>
<div>
<b>Room Number:</b> <%= reservation.room_number %>
</div>
<div>
<b>Check In Date:</b> <%= reservation.check_in %>
</div>
<div>
<b>Year Level: </b><%= reservation.year_level %>
</div>
<div>
<b>Course: </b><%= reservation.course %>
</div>
