<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Ateneo Residence Halls Reservation System</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans:700,400' rel='stylesheet' type='text/css'>
</head>

<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
	  <li role="presentation"><a href="/">Home</a></li>
	  <li role="presentation"><a href="about">About</a></li>
	  <li role="presentation" class="active"><a href="contact">Contact Us</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  	<li id="right" role="presentation"><a href="admin">Admin</a></li>
	</ul>
  </div>
</nav>

<div id="bod" class = "container-fluid">
	<div class="row" id="title">
		<h1> ATENEO RESIDENCE HALLS </h1>
		<h3> RESERVATION SYSTEM </h3>
	</div>
	<div class = "row">
		<h4 id="pgtitle">EDIT RESERVATION</h4>
	</div>
	<div class="row">

<%= simple_form_for @reservation do |f| %>
	<%= f.input :school_year %>
	<%= f.input :last_name %>
	<%= f.input :first_name %>
	<%= f.input :middle_initial %>
	<%= f.input :mobile_number %>
	<%= f.input :address %>
	<%= f.input :id_number %>
	<%= f.input :year_level %>
	<%= f.input :course %>
	<%= f.input :dorm_scholar, as: :radio_buttons %>
	<%= f.input :building, as: :select, collection: ["UD-N", "UD-S"] %>
	<%= f.input :room_number %>
	<%= f.input :check_in %>
	<%= f.input :status, as: :radio_buttons, collection: ["Accepted", "Rejected", "Waitlisted"] %>
	<%= f.submit "Save" %>
<% end %> 
	</div>
</div>

<footer class="navbar navbar-fixed-bottom">
	<div class="row">
	  	<div class="col-md-8">
	  	<p>
			ATENEO DE MANILA UNIVERSITY. ALL RIGHTS RESERVED.
			<br>
			Katipunan Avenue Loyola Heights, Quezon City 1108, Philippines
			<br>
			426-6001 loc.5901-04 | ateneo.edu/univdorm
		</p>
		</div>
		<div class="col-md-1 col-md-offset-2">
		  	<p id="power">Powered by</p>
		  	<img id="wols" src = "./images/wols.png" class="img-responsive" alt = "wols">
		</div>
	</div>
</footer>
</body>



